<!DOCTYPE html>
<html>

<head>
<script src="vendor/coffee-script.min.js"></script>
<script src="vendor/jquery-1.11.0.min.js"></script>
<script src="vendor/jquery-deparam.js"></script>
<script src="vendor/underscore-min.js"></script>

<script src="vendor/bootstrap.min.js"></script>
<script src="vendor/bootstrap-multiselect.js"></script>

<link href="vendor/bootstrap.min.css" rel="stylesheet">

<script src="table_view.coffee" type="text/coffeescript"></script>

<style type="text/css">
body {
	margin: 8px;
}
.resource_list {
	width: 100%;
}

.resource_list > div {
	height: 200px;
	padding: 4px;

}

.resource_pane {
	background-color: #f7f7f9;
	border: 2px solid #e7e7e9;
	border-radius: 4px;
	height: 100%;
	padding: 8px;
}

.stat_table {
	width: 100%;
}

.stat_table > table {
	width: 100%;
}

</style>
</head>

<body>

</body>
<script type="text/coffeescript">
CUBESERVER_PATH = '../'

index = (param) ->
	resource_template = _.template """
		<div class="col-sm-3">
		<div class="resource_pane">
		<a href="?resource=<%= _links.self.href %>">
		<%= metadata.label %>
		</a>
		</div>
		</div>
	"""

	resources_promise = $.getJSON(CUBESERVER_PATH + 'resources/')

	resources_promise.done (resources) ->
		container = $('<div class="container-fluid">').appendTo $ 'body'
		el = $('<div class="row resource_list">').appendTo container
		for name, resource of resources['_embedded']
			el.append(resource_template(resource))

resource = (url, param) ->
	template = _.template """
	<h1><%= resource.metadata.label %></h1>
	<div class="download_formats">
	<h4>Methods</h4>
	<% for (var name in formats ) { %>
		<a class="btn btn-default"
		href="<%= formats[name].href %>">
		<%= name %>
		</a>
	<% } %>
	</div>
	<hr/>
	"""
	
	resource_promise = $.getJSON(url)

	resource_promise.done (resource) ->
		formats = {}
		for rel, link of resource._links
			formats[rel] = link

		$('body').append template
			resource: resource
			formats: formats
		
	
		table_view 'body', resource.dimensions, resource._links.self.href,
			resource.length
		

getargs = $.deparam(window.location.search[1...])
if 'resource' of getargs
	resource getargs.resource, resource
else
	index getargs

</script>
</html>
